.intro {
    position: relative;
    background-image: url('../../../assets/IntroCart.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 300px; /* Adjust the height as needed */
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
  }

  h1 {
    color: rgb(255, 255, 255);
    font-size: 3em; /* Adjust font size as needed */
    margin-bottom: 3rem; /* Add some space below the header */
  }

  @media (max-width: 768px) {
    .intro {
      height: 300px; /* Adjust height for smaller screens */
    }
  
    h1 {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
  
  }
  