/* Intro image */
.intro {
  position: relative;
  background-image: url("../../assets/coachIntro.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suptitle {
  color: rgba(255, 255, 255, 0.774);
}

/* Page layout */
.pageContainer {
  display: flex;
  padding: 3rem 6rem;
  gap: 2rem;
}

.sidebar {
  width: 400px;
  height: fit-content;
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--filterSidebar-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.mainContent {
  flex: 1;
}
.filterTitle {
  font-size: 20px;
  margin-bottom: 10px;
}
.editLink {
  margin-top: 1rem;
  font-size: 22px;
  color: #bf1e2e;
  cursor: pointer;
}
.line {
  display: block;
  height: 1px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--border-color);
}
.rangeSlider {
  width: 100%;
  accent-color: #bf1e2e;
}
.rangeSlider::-webkit-slider-thumb {
  background-color: #bf1e2e; /* Bootstrap danger color */
}

.rangeSlider::-moz-range-thumb {
  background-color: #bf1e2e; /* Bootstrap danger color */
}

.rangeSlider::-ms-thumb {
  background-color: #bf1e2e; /* Bootstrap danger color */
}
.rangeSlider:focus {
  box-shadow: none !important;
}
.rangeLabels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.checked {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #bf1e2e;
  background-color: #ffffff2d;
  box-sizing: border-box;
  cursor: pointer;
}
.checkedActive {
  background-color: #bf1e2e;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #bf1e2e;
  box-sizing: border-box;
  cursor: pointer;
}
.positionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Coach card styles */
.coachCard {
  display: flex;
  justify-content: space-between;
  background-color: var(--productCard-color);
  box-shadow: var(--coaches-box-shadow);
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.coachImage {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.coachName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.coachInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.coachCategory {
  font-size: 1rem;
  color: #bf1e2e;
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.stars {
  color: rgb(244, 216, 57);
  margin-right: 0.5rem;
}

.reviews {
  font-size: 0.9rem;
  color: #777777a6;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.goldBadge {
  background-color: gold;
  color: black;
}

.silverBadge {
  background-color: #c0c0c0;
  color: black;
}

.bronzeBadge {
  background-color: #cd7f32;
  color: white;
}

.defaultBadge {
  background-color: #888;
  color: white;
}

.summary {
  font-size: 0.9rem;
  color: var(--supText-color);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 80%;
}

.distance {
  font-size: 0.9rem;
  color: var(--supText-color);
  margin-top: auto;
}

.salary {
  font-size: 2.4rem;
  font-weight: bold;
  color: #bf1e2e;
}

.fee {
  font-size: larger;
  text-align: center;
}

.viewProfileButton {
  padding: 0.5rem 1rem;
  background-color: #bf1e2e;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.viewProfileButton:hover {
  background-color: #a51b28;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
}

.paginationButton:hover {
  background-color: #f0f0f0;
  color: #bf1e2e;
}

.paginationButton.active {
  background-color: #bf1e2e;
  color: white;
  border-color: #bf1e2e;
}

.noResults {
  text-align: center;
  font-size: 1.2rem;
  color: #6c757d;
  margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .pageContainer {
    padding: 2rem;
    flex-direction: column;
  }
  .summary {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .coachCard {
    flex-direction: column;
  }

  .priceInfo {
    align-items: flex-start;
    margin-top: 20px;
  }
}
