.chatPage {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: sticky;
}
.topBtn {
    border-radius: 25px;
    margin: 0 0.2rem;
    padding: 5px 10px;
  }
  

@media (max-width: 767px) {
    .chatPage {
        flex-direction: column;
    }
}
