.bmiCalculatorSection {
  margin: 4rem 0;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text-color);
}

.subtitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  color: rgb(97, 97, 97);
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1px;
  gap: 2rem;
  background-color: var(--bmi-color);
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.223);
  border-radius: 8px;
}

.leftContainer {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer {
  width: 80%;
  max-width: 700px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: white;
  border-radius: 8px;
  justify-content: center;
  height: 20rem;
}

.inputGroupFull {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputField {
  width: calc(85% - 30px);
  padding: 10px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 9px;
}

.inputSelectField {
  padding: 10px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 9px;
}

select {
  width: 100%;
}

input,
select:focus {
  border: 1px solid rgb(179, 179, 179);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unit {
  display: inline-block;
  background-color: #BF1E2E;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
}

.switchRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.calculateButton {
  padding: 10px 20px;
  background-color: #BF1E2E;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 15px;
}

.calculateButton:hover {
  background-color: #931723;
}

.bmiTitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.bmiValue {
  font-size: 48px;
  font-weight: bold;
}

/* Media Queries */

@media (min-width: 600px) and (max-width: 829px) {
  /* Tablet Styles */
  .calculatorContainer {
    padding: 2rem 2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .leftContainer, .rightContainer {
    width: 50%;
  }
}

@media (min-width: 830px) {
  /* Medium to Large Screen Styles */
  .calculatorContainer {
    padding: 2rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .leftContainer, .rightContainer {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  /* Large Screen Styles */
  .calculatorContainer {
    padding: 3rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .leftContainer, .rightContainer {
    width: 45%;
  }
}
