.container{
    padding: 3rem 3rem;
}
.cardContainer{
    background-color: #313030;
    padding: 1rem;
    border-radius: 15px;
    color: white;
}

.cardImg{
    width: 100%;
    border-radius: 15px;
    height: 20rem;
}
.text{
    font-size: 31px;
    font-weight: 400;
    margin-bottom: 0;
}
.title{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 1.3rem;
    /* padding-top: 2rem; */
}
.discount{
    font-size: 3.3rem;
    color: #da2234;
    font-weight: 600;
}
.memberBtn{
    width: 30%;
    color: white;
    background-color:#BA1D2D ;
    margin-top: 2rem;
    border-radius: 10px;
}
.memberBtn:hover{
    background-color:#ba1d2dcd ;
}
@media (max-width: 1200px) {
.memberBtn{
    width: 100%;
}
}