.calendarContainer {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 0 10px;
  box-sizing: border-box;
}

.dateRangeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.chevronLeft,
.chevronRight {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 10px;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  margin-bottom: 20px;
}

.timesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.dayBox,
.timeBox {
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 5rem;
  padding: 7px;
  position: relative;
  font-size: 17px;
  font-weight: bold;
}

.dayBox input,
.timeBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.unavailable {
  background-color: var(--border-color);
  color: #aaa;
  cursor: not-allowed;
}

.active,
.selected {
  background-color: var(--SelectedTime-color);
  border-color: #bf1e2e;
}
.activeDay {
  border: 2px solid #bf1e2e;
}
.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  flex-wrap: wrap;
}

.generalAvailability,
.confirmedAvailability {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
}

.generalAvailability {
  border: 1px solid var(--border-color);
}

.confirmedAvailability {
  background-color: #bf1e2e;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.showDay {
  background-color: var(--filterSidebar-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedDateDisplay {
  margin: 1px;
  text-align: center;
  font-weight: bold;
}
.scheduleInf {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 15px;
  font-size: 20px;
}
.line {
  display: block;
  height: 1.4px;
  background-color: #dbdbdb81;
  width: 100%;
  margin: 1rem auto;
}
.eventContainer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.eventImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.eventTitle {
  font-size: 12px;
}

@media (max-width: 600px) {
  .daysGrid {
    grid-template-columns: repeat(7, 1fr);
  }

  .timesGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .dayBox,
  .timeBox {
    padding: 5px;
    font-size: 12px;
  }

  .legend {
    flex-direction: column;
    align-items: flex-start;
  }

  .legend > div {
    margin-bottom: 10px;
  }

  .dateRangeSelector {
    font-size: 14px;
  }

  .chevronLeft,
  .chevronRight {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .daysGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .timesGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
