.coachContainer {
  margin-top: 20px;
  padding: 2rem 9rem;
}

@media (max-width: 569px) {
  .coachContainer {
    margin-top: 10px;
    padding: 1rem;
  }
}
@media (min-width: 569px) and (max-width: 1024px) {
  .coachContainer {
    margin-top: 10px;
    padding: 1rem;
  }
}
