.container {
  background-color: rgba(14, 3, 4, 0.53);
  color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.37);
  text-align: center;
  margin: auto;
  backdrop-filter: blur(10px);
  max-height: 100vh; /* Set max-height to ensure content is contained */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.topSection {
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.mainSection {
  padding: 2rem 1rem;
  text-align: center;
}

.mainSection h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.card {
  margin-top: 2rem;
  padding: 0 1rem;
}

.subText {
  font-size: 1.2rem;
  color: #747474;
  margin-bottom: 2rem;
}

.cardsContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.cardImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.cardImage:hover {
  border: 2px solid rgb(240, 28, 28);
}

@media (max-width: 768px) {
  .cardsContainer {
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
    padding: 0;
  }

  .container {
    padding: 1rem;
    max-height: 100vh; /* Ensure max-height is maintained */
    overflow-y: auto;  /* Ensure vertical scrolling */
  }

  .mainSection {
    padding: 1rem;
  }
}
