.container {
  background-color: rgba(14, 3, 4, 0.53);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.37);
  text-align: center;
  padding:1rem 2rem;
  backdrop-filter: blur(10px);
  overflow-y: auto;
}

.topSection {
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.mainSection {
  padding: 2rem 1rem;
  text-align: center;
}

.mainSection h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.card {
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  width: 300px; /* Adjust the width of the cards */
  margin-top: 2rem;
  border-radius: 2rem;
}

.imageContainer {
  position: relative;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
}

.cardImage {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 21rem; /* Adjust the height of the images */
  object-fit: cover;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.774);

}

.imageOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: rgba(14, 3, 4, 0.53);
  backdrop-filter: blur(10px);
  color: white;
  padding: 0.4rem;
  text-align: center;
}

.imageTitle {
 margin: 3rem 0;
  font-size: 2rem;
  font-weight: bold;
}


@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }

  .container {
    padding: 1rem;
    max-height: 100vh;
    overflow-y: auto;
  }

  .mainSection {
    padding: 1rem;
  }
}
