.sidebar {
    background-color: #f8f9fa;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Changed to auto */
    z-index: 1000;
    transform: translateX(-100%);
}

.sidebar.open {
    display: block; /* Changed from contents to block */
    transform: translateX(0);
}

.searchInput {
    position: relative; 
    width: 100%;
    background-color: #f8f9fa; 
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        height: 100%;
        position: relative;
        overflow-y: auto; /* Changed to auto */
        width: 500px;
        transform: translateX(0);
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
    padding-top: 2rem; /* Add padding to avoid being overlapped by fixed search input */
}

.contact:hover {
    background-color: #e2e6ea;
}

.message {
    font-size: 0.9em;
}

.time {
    font-size: 0.8em;
}

.userImg {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 1rem;
}

.closeBtn {
    display: block;
    margin-bottom: 1rem;
}
