.sidebarContent {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.open {
  transform: translateX(0);
}

.closeBtn {
  background: none;
  color: rgb(160, 55, 55);
  border: none;
  font-size: 24px;
  position: absolute;
  top: 2px;
  left: 5px;
  cursor: pointer;
}

.card {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.cardBody {
  padding: 15px;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.cardText {
  font-size: 0.875rem;
  color: #6c757d;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.calendarMonth {
  font-size: 1.25rem;
  font-weight: bold;
}

.calendarContainer {
  width: 100%;
}

.tasksContainer {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tasksContainer h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.tasksContainer ul {
  list-style: none;
  padding: 0;
}

.tasksContainer li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.taskDate {
  font-weight: bold;
}

.taskTime {
  color: #6c757d;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .sidebarContent {
    transform: translateX(0);
    position: static; /* Ensure sidebar remains in place for large screens */
    width: 100%; /* Full width for sidebar content */
  }
  .closeBtn {
    display: none;
  }
}
