.chatWindow {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e9ecef;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .chatWindow {
        transform: translateX(0);
    }
 
}

.chatWindow.hidden {
    transform: translateX(100%);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
    z-index: 1;
}

.messages {
    overflow-y: auto;
    margin-bottom: 56px; /* Adjust according to the height of the input box */
    padding-bottom: 56px;
    flex-grow: 1;
}

.message {
    display: flex;
    flex-direction: column;
}

.sent {
    align-items: flex-end; /* Aligns messages to the left */
    justify-content: flex-end; /* Aligns messages to the top */
    width: 100%; /* Makes the message container full width */
    padding: 0.5rem; /* Optional: adds padding for message bubble */
    direction: rtl;
}

.timestamp {
    font-size: 0.8em;
}
.timestampSend{
    display: flex;
    justify-content: end;
    font-size: 0.8em;
}
.inputBox {
    border-top: 1px solid #e9ecef;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.openBtn {
    display: block;
    margin: 1rem;
}

@media (min-width: 768px) {
    .openBtn {
        display: none;
    }
 
}
@media (max-width: 768px) {
    .messages{
        margin-top:1rem;
        }
}