/* LandingNav.module.css */
.item_links {
    color: white;
    margin: 0.2rem;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
  }
  
  .item_links:hover {
    color: #BF1E2E;
  }
  
  .logo {
    object-fit: contain;
    width: 200px;
    height: auto; 
    background-color: black;
  }
  
  .navbar {
    background-color: black!important;
    color:white!important;
  }
  .brand {
    color:white;
  }
  .line {
    display: block;
    height: 1.5px;
    background-color: gray;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  