/* intro img page */
.intro {
  position: relative;
  background-image: url('../../assets/coachItro (1).jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 350px; /* Adjust the height as needed */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.suptitle {
  color: rgba(255, 255, 255, 0.774);
}
/* coaches page */
.container {
    padding: 2rem;
    margin-top: 4rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
  }
 
  .coachesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  
  .coachCard {
    background-color: var(--filterSidebar-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    text-align: center;
    box-shadow: var( --coaches-box-shadow);
  }
  
  .coachImage {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .coachName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .coachCategory {
    font-size: 1rem;
    color: #931824;
    margin-bottom: 1rem;
  }
  
  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .stars {
    color: gold;
    margin-right: 0.5rem;
  }
  
  .reviews {
    font-size: 0.9rem;
    color: #777;
  }
  
  .badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .goldBadge {
    background-color: gold;
    color: black;
  }
  
  .silverBadge {
    background-color: silver;
    color: black;
  }
  
  .bronzeBadge {
    background-color: #cd7f32; /* bronze color */
    color: white;
  }
  
  .defaultBadge {
    background-color: gray;
    color: white;
  }
  .summary {
    font-size: 0.9rem;
    color: var(--supText-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .distance {
    font-size: 0.9rem;
    color: #931824;
    margin-bottom: 0.5rem;
  }
  
  .salary {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .viewProfileButton {
    background-color: #BF1E2E;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .viewProfileButton:hover {
    background-color: rgb(158, 33, 46)
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0 ;
  }
  
  .paginationButton {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .paginationButton:hover {
    background-color: #f0f0f0;
    color:#BF1E2E ;
  }
  
  .active {
    background-color: #BF1E2E;
    color: white;
    border-color: #BF1E2E;
  }