.formContainer {
    background-color: rgba(255, 255, 255, 0.915);
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #666;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  .input:focus{
    border: 1px solid #e32e2e;
  }
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions li {
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  
  .submitButton {
    padding: 0.75rem;
    background-color: #e24119;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .submitButton:disabled {
    background-color: #ba3d1d;
    cursor: not-allowed;
  }