.cartItem {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.productImage {
  object-fit: contain;
  border: 1px solid #bbbbbb;
  padding: 5px;
  border-radius: 2rem;
  width: 100vw;
  max-width: 100%;
}

.supText {
  color: var(--supText-color);
}

.decrement, .increment {
  height: 30px;
  width: 40px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .title{
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .price{
    margin-bottom: 1rem;
  }
  .quantity{
    margin-bottom: 1rem;
  }
}
@media (min-width: 600px) and (max-width: 1029px) {
  .quantity{
    display: flex;
  }
}