.card {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s linear ;
  }
  .card:hover{
    background-color: #BF1E2E;
    color: white;
    .account{
    border: 1px solid ;
    }
  }
  .card h3 {
    margin-bottom: 10px;
  }
  
  .statistic {
    text-align: center;
  }
  
  .statistic p {
    margin: 0;
  }
  .account {
    border: 1px solid gray;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
  }

  .headerIcon {
    font-size: 1.9rem;
  }
  
  