.title {
  font-size: 2.3rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
  color: white;
}
.inputsWrapper {
  display: flex;
  gap: 75px;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginHolder {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  @media screen and (min-width: 768px) {
    /* height:100vh; */
  }
}

.custom_form_holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(14, 3, 4) 0%,
    rgba(14, 3, 4, 0.53) 100%
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.459);
  width: 80%;
  padding: 25px 70px;
  border-radius: 19px;
  width: 85%;
}

.custom_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.btn {
  border: none;
  color: white;
  background-color: #bf1e2e;
  padding: 11px;
  border-radius: 10px;
  display: block;
  width: 200px;
  margin: 20px auto 0 auto;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background-color: #a11b29;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .inputsWrapper {
    gap: 1rem;
  }
  .column {
    width: 100%;
  }
  .custom_form_holder {
    margin-top: 2rem;
  }
  .custom_form_holder {
    padding: 25px;
  }
}
