.heroSection {
  display: flex;
  justify-content: space-between;
  padding: 5rem 3rem;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
}

.textContainer {
  max-width: 50%;
  padding-left: 3rem;
}

.textContainer h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.textContainer > p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  color: gray;
}

.getStartedBtn {
  border-radius: 10px;
  border: 0;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem 0;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #BF1E2E;
  color: #BF1E2E;
  text-align: center;
  white-space: nowrap;
  transition: transform 0.5s ease-in-out;
}

.getStartedBtn:hover {
  transform: scale(1.07);
  border: none;
  background-color: #BF1E2E;
  text-transform: uppercase;
  color: white;
}

.playIcon {
  margin-right: 0.7rem;
}

.playVedio {
  cursor: pointer;
  margin: 5rem;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  max-width: 85%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

.badge1,
.badge2 {
  position: absolute;
  background-color: #0e030441;
  color: white;
  padding: 5px 2px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);

}

.badge1 {
  bottom: 75%;
  left: 74%;
}

.badge2 {
  bottom: 50%;
  left: 75%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .playVedio {
    margin: 1.3rem !important;
    text-align: center;
  }
  .heroSection {
    flex-direction: column;
    height: auto;
    clip-path: none;
    padding: 3rem;
  }

  .textContainer {
    max-width: 100%;
    margin-left: -18px;
  }

  .textContainer h1 {
    font-size: 3rem;
    text-align: center;
  }

  .textContainer > p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
  }
  .media {
    display: flex;
    flex-direction: column;
  }
  .imageContainer img {
    max-width: 100%;
  }
  .badge1,
  .badge2 {
    position: static;
    margin: 10px auto;
  }
}
