.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}
.modalOverlay :global(.modal-dialog) {
  width: 90%;
  margin: 1.75rem auto;
}
.filterContainer {
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}
.mainCard {
  border: none;
  box-shadow: var(--coaches-box-shadow);
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--filterSidebar-color);
}

.clientCard {
  transition: all 0.3s ease;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
}

.clientCard:hover {
  transform: scale(1.05);
  box-shadow: var(--coaches-box-shadow);
}

.clientCardImage {
  height: 250px;
  object-fit: fill;
  transition: all 0.3s ease-in-out;
}
.selectedClient .clientCardImage {
  opacity: 0.9;
  filter: brightness(0.9);
}
.clientCardBody {
  background-color: var(--productCard-color);
  padding: 15px;
  color: var(--text-color);
}

.filterInput {
  border-radius: 20px;
  padding: 10px 15px;
}

.noResultsMessage {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
.selectedClient {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(103, 243, 33, 0.4);
  border: 2px solid #42c02fa1;
  outline: none;
}
.selectedOverlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #78c02fa1;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.line {
  display: block;
  height: 1px;
  background-color: #dbdbdbde;
  width: 100%;
  margin: 12px auto;
}
.input {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  min-height: 120px;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  resize: vertical;
  color: var(--text-color) !important;
  background-color: var(--background-color) !important;
}
.input::placeholder {
  color: var(--supText-color);
}
