/* LandingNav.module.css */
.item_links {
  color: #e4d9ef;
  margin: 0.2rem;
  cursor: pointer;
  font-size: 15px;
}

.item_links:hover {
  color: #ff4d5e;
}

.logo {
  object-fit: contain;
  width: 200px;
  height: auto; 
}

.navbar {
  background-color: #000000 !important;
}

.line {
  display: block;
  height: 1.5px;
  background-color: gray;
  width: 100%;
}

a {
  text-decoration: none;
}
