/* LandingNav.module.css */
.item_links {
  color: var(--text-color);
  margin: 0.2rem;
  cursor: pointer;
  font-size: 15px;
}

.item_links:hover {
  color: #ff4d5e;
}

.logo {
  object-fit: contain;
  width: 200px;
  height: auto; 
  background-color: black;
}

.navbar {
  background-color: var(--navbar-background-color) !important;
  color: var(--navbar-text-color) !important;
}
.brand {
  color: var(--text-color);
}
.line {
  display: block;
  height: 1.5px;
  background-color: gray;
  width: 100%;
}

a {
  text-decoration: none;
}
