.container {
  background-color: rgba(14, 3, 4, 0.53);
  color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.37);
  text-align: center;
  margin: auto;
  backdrop-filter: blur(10px);
  max-height: 100vh;
   /* Set max-height to ensure content is contained */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.description {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 2rem;
  text-align: center;
}

.timelineProgress {
  width: 50%;
  margin: 1rem auto 0;
  background-color: #333;
  margin-bottom: 20px;
}

.questionContainer {
  margin-bottom: 2rem;
}

.question {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.option {
  padding: 0.75rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #444;
  color: white;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #555;
}

.selected {
  border-color: #f01c1c;
  
}

.dropdown {
  max-width: 50%;
  margin: 1rem auto 0;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #333;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-primary {
  background-color: #f01c1c;
  border-color: #f01c1c;
}

.btn-primary:hover {
  background-color: #d01717;
  border-color: #d01717;
}
.nextBtn{
width: 12rem;
}