.credentialsCard {
  border: none;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: var(--coaches-box-shadow);
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--background-color);
}

.cardHeader {
  background-color: #bf1e2e;
  border-bottom: none;
}
.cardBody {
  background-color: var(--background-color);
}
.iconContainer {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.supText {
  color: var(--supText-color) !important;
}
.label {
  font-weight: 600;
  color: #901925;
  font-size: 0.95rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.customSelect {
  border: 1px solid #e9ecef;
  padding: 0.75rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  background-color: var(--filterSidebar-color) !important;
  color: var(--text-color);
}

.customSelect:focus {
  border-color: #bf1e2e;
  box-shadow: none;
  background-color: #fff;
}

.updateButton {
  background-color: #bf1e2e;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.updateButton:hover {
  background-color: #841722;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .updateButton {
    width: 100%;
  }
}
