:root {
  --background-color: white;
  --text-color: black;
  --navbar-background-color: white;
  --navbar-text-color: black;
}

body.light {
  --background-color: white !important;
  --text-color: black;
  --navbar-background-color: white;
  --navbar-text-color: black;
  --bmi-color: white; /* Added the missing semicolon here */
  --testimonial-color: black;
  --question-color:white;
  --filterSidebar-color:#f0f0f0;
  --shifting-background-color :#F4F4F4;
  --supText-color:#5a5a5a;
  --placeholder-color: #000000a8;
  --productImg-color:#F8F8F8;
  --productCard-color:#FFFFFF;
  --relatedProduct-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --coaches-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.214);
  --filterInput-bgcolor:white;
  --dashbordRightSidebar-color:rgba(189, 189, 189, 0.24);
}

body.dark {
  --background-color: black !important;
  --text-color: white;
  --navbar-background-color: black;
  --navbar-text-color: white;
  --bmi-color: #212121;
  --testimonial-color: #212121;
  --question-color:#212121;
  --filterSidebar-color:#333;
  --shifting-background-color :#f4f4f433;
  --supText-color:#ddddddbb;
  --placeholder-color: #ffffffd3; 
  --productImg-color:#464b50;
  --productCard-color:#333;
  --relatedProduct-box-shadow:0 0 20px rgb(255, 255, 255);
  --coaches-box-shadow: 0 0 10px rgb(255, 255, 255);
  --filterInput-bgcolor:#9a9a9a;
  --dashbordRightSidebar-color:#333333
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

.navbar {
  background-color: var(--navbar-background-color) !important;
  color: var(--navbar-text-color) !important;
}
.navbar .nav-link,
.navbar .dropdown{
  color: var(--text-color) !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(29, 29, 29, 0.455);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(81, 81, 81, 0.455);
}
::-webkit-scrollbar-track {
  background: #a1a1a1;
  border-radius: 0px;
}