@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

:root {
  --background-color: white;
  --text-color: black;
  --navbar-background-color: white;
  --navbar-text-color: black;
}

body.light {
  --background-color: white !important;
  --text-color: black;
  --navbar-background-color: white;
  --navbar-text-color: black;
  --bmi-color: white; /* Added the missing semicolon here */
  --testimonial-color: black;
  --question-color: white;
  --filterSidebar-color: #f0f0f0;
  --shifting-background-color: #f4f4f4;
  --supText-color: #5a5a5a;
  --supTextHover-color: rgb(31, 31, 31);
  --placeholder-color: #000000a8;
  --productImg-color: #f8f8f8;
  --productCard-color: #ffffff;
  --relatedProduct-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --coaches-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.214);
  --filterInput-bgcolor: white;
  --dashbordRightSidebar-color: rgba(189, 189, 189, 0.24);
  --dashbordRightSidebarContainer-color: rgb(225, 225, 225);
  --chatSidebar-bgcolor: #eee;
  --hoverContacts: #bcbbbb;
  --ChatWindow-bgcolor: white;
  --msgerHeader-bgcolor: #f0f0f0;
  --message-bgcolor: #ececec;
  --activeCard-bgcolor: rgb(188 188 188);
  --border-color: #33333334;
}

body.dark {
  --background-color: black !important;
  --text-color: white;
  --navbar-background-color: black;
  --navbar-text-color: white;
  --bmi-color: #212121;
  --testimonial-color: #212121;
  --question-color: #212121;
  --filterSidebar-color: #333;
  --shifting-background-color: #f4f4f433;
  --supText-color: #ddddddbb;
  --supTextHover-color: rgb(233, 233, 233);
  --placeholder-color: #ffffffd3;
  --productImg-color: #464b50;
  --productCard-color: #333;
  --relatedProduct-box-shadow: 0 0 20px rgb(255, 255, 255);
  --coaches-box-shadow: 0 0 10px rgb(255, 255, 255);
  --filterInput-bgcolor: #9a9a9a;
  --dashbordRightSidebar-color: #333333;
  --dashbordRightSidebarContainer-color: #333333;
  --chatSidebar-bgcolor: rgb(68, 68, 68);
  --hoverContacts: #f4f4f433;
  --ChatWindow-bgcolor: #f4f4f433;
  --msgerHeader-bgcolor: #f4f4f433;
  --message-bgcolor: #818181;
  --activeCard-bgcolor: rgba(197, 197, 197, 0.164);
  --border-color: #dddddd5f;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

.navbar {
  background-color: var(--navbar-background-color) !important;
  color: var(--navbar-text-color) !important;
}
.navbar .nav-link,
.navbar .dropdown {
  color: var(--text-color) !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(29, 29, 29, 0.455);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(81, 81, 81, 0.455);
}
::-webkit-scrollbar-track {
  background: #a1a1a1;
  border-radius: 0px;
}
.btn-danger {
  background-color: #bf1e2e;
  border-color: #bf1e2e;
}
.btn-danger:hover {
  background-color: #a51b28;
}
.btn-outline-danger {
  border-color: #bf1e2e;
  color: #bf1e2e;
}
.btn-outline-danger:hover {
  background-color: #bf1e2e;
}
