.workoutCarouselContainer {
  padding: 1rem 3rem;
  text-align: center;
  margin: 4rem 0;
}

.title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.videoWrapper {
  padding: 0 10px;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.videoContainer.inactive {
  opacity: 0.7;
  transform: scale(0.9);
}

.videoFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534); /* Black overlay with 50% opacity */
  backdrop-filter: blur(2px);
  /* pointer-events: none; */
}
.customPaging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.activeIndex {
  background-color: #bf1e2e;
  width: 20px;
  height: 15px;
  border-radius: 12px;
}

.inactiveIndex {
  width: 15px;
  height: 15px;
  background-color: #f0a7ae;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: rgb(201, 22, 22);
}

.customArrow:hover {
  color: rgb(100, 0, 0);
}

@media (max-width: 768px) {
  .workoutCarouselContainer {
    padding: 1rem;
    margin: 2rem 0;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .videoContainer {
    padding-bottom: 56.25%; /* Reset to standard aspect ratio for mobile */
  }

  .videoContainer.inactive {
    opacity: 1;
    transform: none;
  }

  .overlay {
    display: none; /* Hide overlay on mobile */
  }

  .customArrow {
    top: 50%;
    transform: translateY(-50%);
  }
}
