.relatedProductsSection {
  margin-top: 40px;
}

.relatedProductsSection h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.relatedProducts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.relatedProduct {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
  position: relative;
  padding-bottom: 20px;
  background-color: var(--navbar-background-color);
}

.relatedProduct:hover {
  transform: scale(1.05);
  box-shadow: var(--relatedProduct-box-shadow);

}

.relatedProductImage {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  background-color: #d9d9d960;
  border-radius: 10px;
  margin-bottom: 10px;
}

.relatedProductTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.relatedProductPrice {
  font-size: 1em;
  color: #BF1E2E;
}

.cardSubtitle {
  font-size: 0.9em;
  color: var(--supText-color);
  margin-bottom: 10px;
}

.hoverContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.5s ease;
  overflow: hidden;
  margin-top: 10px;
}

.relatedProduct:hover .hoverContent {
  opacity: 1;
  max-height: 600px; 
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 20px;
}

.additionalText {
  color: var(--supText-color);
  margin-bottom: 10px;
}

.icon {
  font-size: 1.7em;
  cursor: pointer;
}

.button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: darkred;
}
