.shopPage {
  margin-top: 20px;
  padding: 3rem 4rem;
}

@media (max-width: 569px) {
  .shopPage {
    margin-top: 10px;
    padding: 1rem;
  }
}
@media (min-width: 569px) and (max-width: 1024px) {
  .shopPage {
    margin-top: 10px;
    padding: 1rem;
  }
}
